<section class="w-screen h-screen bg-gradient-to-r from-white to-blue-300">
<app-navigation></app-navigation>

  <div class="flex justify-center items-center text-center pt-10">
  <div class="displayTableCell">
    <div class="flex flex-col gap-5">
      <span class="text-blue-800 font-bold">Prihlasenie</span>
      <div class="flex flex-col">
        <span class="text-blue-800 font-extrabold">E-mail</span>
        <input
          type="email"
          class="bg-ordinary-blue rounded-3xl px-4 py-2 text-white"
          placeholder="@"
          #userName
          required
        />
      </div>
      <div class="flex flex-col">
        <span class="text-blue-800 font-extrabold">Heslo</span>
        <input
          type="password"
          class="bg-ordinary-blue rounded-3xl px-4 py-2 text-white"
          placeholder="********"
          #userPassword
          required
        />
      </div>
      <!-- Calling SignIn Api from AuthService -->
      <div class="formGroup">
        <input
          type="button"
          class="bg-blue-800 rounded-2xl px-8 py-1 hover:cursor-pointer text-white"
          value="Prihlasiť"
          (click)="authService.SignIn(userName.value, userPassword.value)"
        />
      </div>
      <div class="forgotPassword">
        <span class="text-blue-800 font-extrabold" routerLink="/forgot-password">Zabudli ste heslo?</span>
      </div>
    </div>
    <div class="redirectToLogin">
      <span class=""
      >Nemáte vytvorený účet?<span
        class="text-blue-800 font-extrabold"
        routerLink="/register-user"
      >
          Registrujte sa</span
      ></span
      >
    </div>
  </div>
</div>
</section>
