<section class="bg-ordinary-blue w-screen">
  <nav class="flex justify-between items-center px-10 py-3">
    <section class="bg-blue-800 rounded-2xl px-8 py-1 hover:cursor-pointer">
      <span (click)="home()" class="text-white font-extralight ">Domov</span>
    </section>
    <section (click)="signup()" class="flex justify-between gap-2">
      <section class="bg-blue-800 rounded-2xl px-8 py-1 hover:cursor-pointer">
        <span class="text-white font-extralight">Registrácia</span>
      </section>
      <section (click)="signin()" class="bg-blue-800 rounded-2xl px-8 py-1 hover:cursor-pointer">
        <span class="text-white font-extralight">Prihlasenie</span>
      </section>
    </section>
  </nav>
</section>
